{% extends "layout.html" %}
{% block title %}Habits{% endblock %}

{% block header %}
    <div class="navigation">
        <a href="/"><img src="static/Images/Home.png">
            <h3>Home</h3>
        </a>
        <a href="/tasks"><img src="static/Images/To do list.png">
            <h3>Tasks</h3>
        </a>
        <a href="/habbits" class="current"><img src="static/Images/Checked.png">
            <h3>Habits</h3>
        </a>
        <a href="/notes"><img src="static/Images/Notes.png">
            <h3>Notes</h3>
        </a>
    </div>
{% endblock %}

{% block main %}
    <div class="page_content">
        <div class="top">
            <div class="location">
                <img src="static/Images/Checked.png">
                <h3>Habits</h3>
            </div>
            <div>
                <a class="add_button" href="/add_habbit"><img src="static/Images/add.svg">
                    <p>Add habit</p>
                </a>
            </div>
        </div>
        <div class="habbits_head">
        </div>
        <div class="habbits_section">
            {% for habbit in habbits %}
                <div class="habbit">
                    <div style="width: 1.25rem; height: 1.25rem; border-radius: 0.3125rem; background-color: {{ habbit.tag }};"></div>
                    <div>
                        <h3>{{ habbit.name }}</h3>
                        <form action="/view_habbit" method="post">
                            <input type="text" name="habbit_id" value="{{ habbit.habbit_id }}" style="display: none;">
                            <button type="submit"><a>View habit</a></button>
                        </form>
                    </div>
                    <form action="/habbits" method="post">
                        <input type="text" name="location" value="habits" readonly style="display: none;">
                        <input type="text" name="habbit_id" value="{{ habbit.habbit_id }}" style="display: none;">
                        <input type="text" name="completed" value="{{ habbit.completed }}" style="display: none;">
                        <button type="submit">
                            {% if habbit.completed == "False"%}
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                                    <circle cx="30" cy="30" r="28" stroke="#90DB62" stroke-width="4" />
                                </svg>
                            {% elif habbit.completed == "True"%}
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none">
                                    <circle cx="30" cy="30" r="28" stroke="#90DB62" stroke-width="4" />
                                    <path d="M11.0742 29.9409L25.1367 44.0034" stroke="black" stroke-width="8.78906" stroke-linecap="round" />
                                    <path d="M25.1367 44.0034L39.1992 29.9409L53.2617 15.8784" stroke="black" stroke-width="8.78906" stroke-linecap="round" />
                                </svg>
                            {% endif %}
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
